@model UserDetailVM

@{
    ViewData["Title"] = "Chi tiết tài khoản " + Model.UserName;
}

<h2 class="fw-bold text-center">Chi tiết tài khoản @Model.UserName</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Tài khoản
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                Họ
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                Tên
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Số điện thoại
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                Địa chỉ
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt class="col-sm-2">
                Vai trò
            </dt>
            <dd class="col-sm-10">
                @string.Join(", ", Model.Roles)
            </dd>

            <dt class="col-sm-2">
                Đã xác thực tài khoản
            </dt>
            <dd class="col-sm-10">
                @Model.EmailConfirmed
            </dd>
        </dl>

        <div class="text-end">
            <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
            <a asp-action="Index">Quay lại</a>
        </div>
    </div>
</div>

