@*
	
*@
@model PaginationResult<UserVM>
@{
    ViewData["Title"] = "Danh sách tài khoản";
    int num = 0 + (Model.CurrentPage - 1 ) * Model.PageSize;

    var roles = ViewBag.Roles as IEnumerable<IdentityRole>;
}

<h2 class="text-center fw-bold py-3 mb-4">Quản lý tài khoản</h2>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}

<form asp-action="Index" method="get" class="mb-3">
    <div class="row align-items-end g-3">

        <!-- Role -->
        <div class="col-md-2">
            <label class="form-label fw-semibold">Vai trò</label>
            <select name="role" class="form-select">
                <option value="">-- Tất cả --</option>
                @foreach (var r in roles)
                {
                    <option value="@r.Name" selected=@(ViewBag.Role != null && r.Name == ViewBag.Role)>
                        @r.Name
                    </option>
                }
            </select>
        </div>

        <!-- Keyword -->
        <div class="col-md-6">
            <label class="form-label fw-semibold">Tìm kiếm</label>
            <input name="keyword"
                   value="@ViewBag.Keyword"
                   class="form-control"
                   placeholder="Tên, email, SĐT, địa chỉ..." />
        </div>

        <!-- Buttons -->
        <div class="col-md-4 d-flex gap-2">
            <button type="submit" class="btn btn-primary w-50">
                <i class="bx bx-search"></i> Tìm kiếm
            </button>

            <a asp-action="Index" class="btn btn-outline-secondary w-50">
                <i class="bx bx-reset"></i> Reset
            </a>
        </div>

    </div>
</form>


<div class="card">
    <div class="d-flex justify-content-between">
        <h5 class="card-header">Danh sách tài khoản người dùng</h5>
        <a href="@Url.Action("Create", "User")">
            <button type="button" class="btn btn-icon btn-primary m-3" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="" data-bs-original-title="Tạo mới tài khoản">
                <span class="tf-icons bx bx-plus"></span>
            </button>
        </a>
    </div>
    <div class="table-responsive text-nowrap">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên tài khoản</th>
                    <th>Họ tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Vai trò</th> 
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @foreach (var i in Model.Items)
                {
                    num += 1;
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@num</strong></td>
                        <td>@i.User.UserName</td>
                        <td>@string.Join(" ", [i.User.FirstName, i.User.LastName])</td>
                        <td>@i.User.Email</td>
                        <td>@i.User.PhoneNumber</td>
                        <td>@string.Join(",", i.Roles)</td>
                        <td>
                            <div class="dropdown position-static">
                                <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="icon-base bx bx-dots-vertical-rounded"></i>
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li><a class="dropdown-item " asp-action="Details" asp-route-id="@i.User.Id"><i class="bx bx-detail me-1"></i> Chi tiết</a></li>
                                    <li><a class="dropdown-item " asp-action="Edit" asp-route-id="@i.User.Id"><i class="bx bx-edit-alt me-1"></i> Sửa</a></li>
                                    <li><a class="dropdown-item " asp-action="Delete" asp-route-id="@i.User.Id"><i class="bx bx-trash me-1"></i> Xóa</a></li>
                                    <li><a class="dropdown-item " asp-action="Permission" asp-route-id="@i.User.Id"><i class="bx bx-user me-1"></i> Phân quyền</a></li>
                                </ul>
                                <div class="dropdown-menu">
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (Model.TotalPages > 1)
    {
        <div class="d-flex justify-content-center">
            <ul class="pagination mt-2">

                <li class="page-item @(Model.HasPrevious ? "" : "disabled")">
                    <a class="page-link"
                       asp-route-page="@(Model.CurrentPage - 1)"
                       asp-route-role="@(ViewBag.Role)"
                        asp-route-keyword="@ViewBag.Keyword">‹</a>
                </li>

                @foreach (var p in Model.GetPages())
                {
                    if (p.IsEllipsis)
                    {
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    }
                    else
                    {
                        <li class="page-item @(p.IsActive ? "active" : "")">
                            <a class="page-link"
                               asp-route-page="@p.PageNumber"
                               asp-route-role="@(ViewBag.Role)"
                               asp-route-keyword="@ViewBag.Keyword">
                                @p.PageNumber
                            </a>
                        </li>
                    }
                }

                <li class="page-item @(Model.HasNext ? "" : "disabled")">
                    <a class="page-link"
                       asp-route-page="@(Model.CurrentPage + 1)"
                       asp-route-role="@(ViewBag.Role)"
                       asp-route-keyword="@ViewBag.Keyword">›</a>
                </li>

            </ul>
        </div>
    }
</div>