@model IEnumerable<WebBanMayTinh.Models.Address>

@{
    ViewData["Title"] = "Thay đổi địa chỉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="m-4 text-center"> Địa chỉ giao hàng </h2>
<div class="container min-vh-100 mt-4">

    <p class="text-end">
        <a class="btn btn-primary" asp-controller="Address" asp-route-returnUrl="/Checkout/ChangeAddress" asp-action="Create">Tạo mới</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReceiverName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressLine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ward)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.District)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiverName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ward)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.District)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Province)
                    </td>
                    <td>
                        <a asp-action="SelectAddress" asp-route-id="@item.Id">Chọn</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
