@*
	
*@
@model IEnumerable<User>
@{
    ViewData["Title"] = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int num = 0;
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý tài khoản /</span> Danh sách tài khoản</h4>
<div class="card">
    <div class="d-flex justify-content-between">
        <h5 class="card-header">Danh sách tài khoản người dùng</h5>
        <a href="@Url.Action("Create", "AdminAccount")">
            <button type="button" class="btn btn-icon btn-primary m-3" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="top" data-bs-html="true" title="" data-bs-original-title="Tạo mới tài khoản">
                <span class="tf-icons bx bx-plus"></span>
            </button>
        </a>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên tài khoản</th>
                    <th>Họ tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Vai trò</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @foreach (var i in Model)
                {
                    num += 1;
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@num</strong></td>
                        <td>@i.Username</td>
                        <td>@string.Join(" ", [i.FirstName, i.LastName])</td>
                        <td>@i.Email</td>
                        <td>@i.Phone</td>
                        <td>@i.Role?.Name</td>
                        <td>
                            <div class="dropdown position-static">
                                <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="icon-base bx bx-dots-vertical-rounded"></i>
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li><a class="dropdown-item " asp-action="Edit" asp-route-id="@i.Id"><i class="bx bx-edit-alt me-1"></i> Sửa</a></li>
                                    <li><a class="dropdown-item " asp-action="Delete" asp-route-id="@i.Id"><i class="bx bx-trash me-1"></i> Xóa</a></li>
                                </ul>
                                <div class="dropdown-menu">
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>