@model IEnumerable<WebBanMayTinh.Models.Invoice>

@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Lịch sử thanh toán</h2>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateAt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PaymentMethod)
                    </th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentMethod)
                        </td>
                        <td>
                            <a asp-action="ExportInvoice"
                               asp-controller="Invoice"
                               asp-route-id="@item.OrderId"
                               class="btn btn-sm btn-primary">
                                Xuất hóa đơn PDF
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


